body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 58, 3);
    font-family: sans-serif;
}

body h1 {
    color: rgb(239, 221, 202);
}

::backdrop {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, 
        rgba(34,193,195,1) 0%, 
        rgba(255,187,41,1) 100%);
    opacity: 0.75;
}

#dialog {
    border: none;
    margin-top: 30vh;
    padding: 40px;
}

#dialog h3 {
    margin-top: 0;
}

#dialog ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#dialog li {
    margin: 10px 0;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    margin:  10px auto;
    width: 50vw;
}

.card {
    text-align: center;
    padding: 10px 20px;
    border-radius:  5px 15px 15px 5px;
    background: rgb(244, 229, 212);
    filter: drop-shadow(2px 2px rgb(255, 254, 230)) drop-shadow(3px 3px rgb(226, 225, 204)) drop-shadow(3px 3px rgb(191, 190, 173));
}

.card span {
    font-weight: bold;
}

.card ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1.5em;
}

.card li:first-child {
    text-align: center;
    font-family: cursive;
    font-size: 1.5em;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
}

.deleteBook {
    display: block;
    margin: 0 0 0 auto;
    padding: 0 5px 2px 5px;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    border: none;
    background: none;
    font-size: 1.4em;
}

.deleteBook:hover {
    background: rgb(10, 58, 3);
    color: rgb(244, 229, 212);
}

.deleteBook:active {
    background: rgb(244, 229, 212);
    color: rgb(10, 58, 3);
}

.read, #addButton {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 8px 5px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.read:hover, #addButton:hover {
    filter: brightness(0.8);
}

.haveread {
    background-color: rgb(190, 198, 230);
}

.notread {
    background-color: rgb(230, 208, 190);
}

#addButton {
    background: rgb(244, 229, 212);
}

#addButton:active {
    background-color: rgb(10, 58, 3);
    color: rgb(244, 229, 212);
}